name: Lint with ShellCheck

on:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'main'

jobs:
  shellcheck:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies (including ShellCheck)
        run: |
          python -m pip install --upgrade pip
          pip install -r dev-requirements.txt

      - name: Run ShellCheck
        run: shellcheck **/*.sh
